.image-icon,
.shape {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
}
.image-icon {
  right: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.shape {
  right: 1px;
  background-color: var(--color-royalblue);
  mix-blend-mode: multiply;
  z-index: 1;
}
.brand-icons-solid-shield {
  width: 72px;
  height: 72px;
  position: relative;
  object-fit: contain;
  z-index: 2;
}
.best-agency,
.of-the-years {
  margin: 0;
}
.best-agency-of-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  z-index: 2;
}
.benefit-one-badge,
.hero-images {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
}
.benefit-one-badge {
  width: 285px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-11xl) var(--padding-xl) var(--padding-11xl)
    var(--padding-14xl);
  gap: var(--gap-mid);
}
.hero-images {
  flex: 1;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 var(--padding-109xl);
  min-width: 528px;
  min-height: 490px;
  max-width: 100%;
  z-index: 1;
}
.group-copy-icon {
  width: 84.9px;
  height: 24px;
  position: relative;
  object-fit: contain;
}
.working-with-us {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.benefit-two-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.benefit-two,
.hero-images-parent {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.benefit-two {
  width: 373px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-42xl) 0 0;
  min-width: 373px;
  font-size: var(--font-size-9xl);
  color: var(--color-gray-100);
}
.hero-images-parent {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 var(--padding-lg);
  gap: var(--gap-34xl);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1125px) {
  .benefit-two {
    flex: 1;
  }
  .hero-images-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .best-agency-of-container {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
  .hero-images {
    padding-left: var(--padding-45xl);
    padding-right: var(--padding-45xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .hero-images-parent {
    gap: var(--gap-7xl);
  }
}
@media screen and (max-width: 450px) {
  .best-agency-of-container {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .hero-images {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .working-with-us {
    font-size: var(--font-size-3xl);
    line-height: 34px;
  }
  .benefit-two {
    min-width: 100%;
  }
}
